{% load static %}
 
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Senha alterada | VERBUM</title>
 
    <link rel="stylesheet" href="{% static 'css/verbum.css' %}">
</head>
 
<body>
 
    <main class="login-layout">
 
        <section class="login-area">
 
            <div class="login-card">
 
                <p class="tag">SENHA ALTERADA</p>
 
                <h2>Senha redefinida com sucesso!</h2>
 
                <p class="subtext">
                    Sua senha foi alterada. Agora você já pode
                    acessar sua conta utilizando a nova senha.
</p>
 
                <p class="register">
<a href="{% url 'login' %}">
                        Voltar para o login
</a>
</p>
 
            </div>
 
        </section>
 
    </main>
 
</body>
</html>